<div class="analysed-header col-md-12">
    <h4>Analysed Content</h4>
    <p>Click on highlighted terms to toggle between their <span class="btn-success">good</span> and <span class="btn-danger">bad</span> representations, or click the 'toggle all' button to change them all at once.</p>
</div>


<div class="analysed-text col-md-8">
    <div class="analysed-buttons col-xs-6">
        <button type="button" id="toggle-all" class="btn btn-primary form-control">TOGGLE ALL</button>

    </div>
    <div class="analysed-buttons col-xs-6">
        <button type="button" id="finalize-copy" class="btn btn-primary form-control">FINISH EDITING</button>

    </div>


<div style="clear: both;"></div>


<div class="actual-analysed-text" ><%= badWrapText %></div>

</div>


<div class="analysed-summary col-md-3">
    <h4>Detailed Summary</h4>
</div>

