<form role="form" id="analyse-content">
    <button type="button" id="submit-for-analysis" class="btn btn-success form-control">SUBMIT FOR ANALYSIS</button>

    <div class="form-group">
        <textarea rows="20" class="form-control" id="analysis-content" placeholder="Paste your content into here for analysis."></textarea>
    </div>


</form>
