<div class="analysed-header col-md-12">
    <h4>Analysed Content</h4>
    <p>Everything in red has been matched to a Bad Term. The Summary section contains further details on corresponding Good Terms and their descriptions.</p>
</div>

<div class="analysed-text col-md-7">

    <p><%= badWrapText %></p>
    <p><%= goodWrapText %></p>

</div>

<div class="analysed-explanations col-md-4">
    <h4>Analysis Explanations</h4>
    <p>Bad Term -> Good Term : Description</p>
</div>

