<form role="form" method="POST" action="/analyse_content">
    <button type="submit" id="submit_for_analysis_button" class="btn btn-success form-control">SUBMIT FOR ANALYSIS</button>

    <div class="form-group">
        <textarea rows="20" class="form-control" id="analysis_content" placeholder="Paste your content into here for analysis."></textarea>
    </div>


</form>
