<h4>Filter Terms</h4>
<p>Here are all the terms used to filter your document. Read their descriptions to better understand why that word has been selected for replacement.


<table class="table table-striped">
    <thead>
        <tr>
            <th id="table-filter-col">#</th>
            <th id="table-filter">Bad Term</th>
            <th id="table-filter">Good Term</th>
            <th id="table-filter">Description</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
