<h4>Filter Terms</h4>
<p>Here are all the terms used for filtering your document text. To edit these you can login to the Admin Console. Click that link at the top of the page.</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th id="table-filter-col">#</th>
            <th id="table-filter">Bad Term</th>
            <th id="table-filter">Good Term</th>
            <th id="table-filter">Description</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
