<div class="home">

    <div class="jumbotron">
        <h1>capers</h1>
        <p class="lead">a tool to help you fix your caper.</p>
        <p><a class="btn btn-lg btn-success" href="#/analyse">START ANALYSIS</a></p>
    </div>
    
    <div class="row marketing">
        <div class="col-lg-12 col-xs-12">
        	<h4>Motivation</h4>
        	<p>We all need to use the same language to communicate a clear message to the public. If we don't, then confusion increases, the message's impact is diluted and voter confidence as a whole is simply eroded.</p>
    

             <p>The one takeaway you should get from this site is this: <b>Language selection *frames* an issue and therefore sets boudaries on what should and shouldn't be discussed.</b> Most people don't want to go against social and humane norms, so if you position your argument to use the right kind of language, listeners will be nodding their heads in no time, despite the issue and/or the means. Dangerous stuff.</p>
    
             <p>This application has been designed to scan your written prose and catch any occurrences of bad terms or soft language. Let's use proper language to motivate our discussions. And let's better appreciate the subtlety inherited when picking particular words to talk about an issue. The reward being an increase in clarity in the messages we send out into the public.</p>
    
         </div>
    
    </div>
<div>
