$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/*
.col-md-3 {
    width: 32%;
}
*/

.logo a {
    color: #5cb85c;
    text-decoration: none; 
}

.logo a:hover {
    text-decoration: none; 
    color: #47a447;
}

#table-filter-col {
    max-width: 20px;
}


#table-filter {
    min-width: 150px;
}

.text-muted {
    color: #5cb85c;
}

.jumbotron {
    background-color:#70DB93;
}

.actual-analysed-text {
    padding: 5px;
    background-color: #fff;
}

.analysed-summary-term {
    /* background-color:#f0ad4e; */
    background-color:#ddd;
    padding: 5px;
    margin-bottom: 5px;
}

.analysed-summary-ul {
    list-style-type: none;
    padding-left: 0px;
}

.btn-danger,
.btn-success {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.analysed-header {
    background:#eee;
    margin-bottom:10px;
}

.analysed-text {
    margin-right:10px;
    margin-bottom:15px;
    background-color: #70DB93;
    padding-bottom: 10px;
}

.analysed-summary{
    background:#eee;
    margin-bottom:15px;
}

.bad-term {
    background:#ff4500;
}

.good-term {
    background:#83f52c;
}

#submit-for-analysis {
    margin-bottom: 15px;
    margin-top: 15px;

}

#toggle-all {
    margin-right: 5px;
}

#finalize-copy {
    margin-left: 5px;
}

#finalize-copy,
#toggle-all {
    margin-bottom: 15px;
    margin-top: 15px;
    float:left;
    width: 49%
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content 
.marketing {
    margin: 40px 0;
}
*/

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
